.login_screen {
    margin: 0;
    width: 100%;
    height: 100vh;

    // background-color: #fff;
    display: flex;
    align-items: center;
    flex: 1;

    .login_form_illustration {
        box-shadow: 8px 8px 20px 0px #00000026;
        border-right:1px solid rgba(194, 224, 255, 0.08) ;
        width: 50vw;
        height: 80%;
        // background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
        // border-bottom-left-radius: 20%;
        // justify-content: b;
        font-size: 5rem;
        font-weight: 800;
        text-transform: uppercase;
        // border: 2px solid #fff;
        span{
            box-shadow: 8px 8px 20px 0px #00000026;
            background-color: #646cff;
            padding: 0rem 9rem;
            border-radius: 30px;
            font-size: 4rem;
        }

    }

    .login_page_form_components {
        box-shadow: 8px 8px 20px 0px #00000026;
        width: 50vw;
        height: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        align-items: center;
        justify-content:center ;
        row-gap: 5%;
        .login_page_header {
            // border: 2px solid #fff;

            width: 60%;
            color: #fff;
            font-size: 2em;
            font-weight: 700;
            padding: 0px 10px;
            // border-bottom: 4px solid #fff;
            // border-left: 4px solid #fff;

            span{
                font-size: .7em;
                color: #646cff;
            }
        }
        

        .main_login_form {
            // height: 60%;
            display: flex;
            align-items: flex-end;
            align-items: center;
            
            flex-direction: column;
            width: 100%;
            // row-gap: 20px;
            margin-bottom: 15px;

            .email_input {
                width: 60%;
                height: 50px;
                padding: 0px 10px;
                font-size: larger;
            }
            .get_otp_button{
                margin-top: 25px;
                width: 64%;
                
            }

            .resend_and_timer{
                display: flex;
                justify-content: space-between;
                width: 64%;

                .timer{
                    color: grey;
                }
                .resend{
                    color: grey;
                    cursor: pointer;
                    &:hover{
                        color: #646cff;
                    }
                }
               
                
            }

        }

    }


}

@media screen and (max-width: 500px) {
    .login_screen{
        flex-direction: column;
        box-shadow: none;

        .login_form_illustration{
            box-shadow: none;
            font-size: 2.5rem;
            margin: 0;
            height: 20%;
            border: none;
            border-bottom: 1px solid rgba(194, 224, 255, 0.08);
            span{
                font-size: 2rem;
                padding: 0 6rem;
                border-radius: 20px;

            }

        }
        .login_page_form_components{
            box-shadow: none;
            width: 100vw;
            margin-top: 20%;
            justify-content: flex-start;

            // background-color: cyan;
        }


    }
}