.all_challenges {
    width: 100%;
    height: 100%;
    // background-color: aquamarine;
    display: flex;
    flex-direction: column;
    // background-color: aqua;
    align-items: flex-start;
    overflow: hidden;

    .heading_and_search {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .heading {
            font-size: 20px;
            font-weight: 600;
            // margin-left: 10%;
            padding-bottom: 8px;
            // border-bottom: 3px dashed #fff;
            width: 70%;
            text-align: left;
        }

        .searchButton {
            background-color: #fff;
            color: #535bf2;
            border-radius: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-left: 3px;
            img {
                height: 16px;
                // padding-right: 20px;
                text-align: center;
                // margin-right: 20px;
                background-color: #fff;
                width: 15px;
                padding: 6px 7px;

                border-radius: 50%;
                cursor: pointer;
                color: #535bf2;

            }
        }


    }

    .search_input {
        // max-height: 30px;
        width: 96%;

        display: none;
        transform: all 2s;
        padding: 9px 5px;
    }

    .open_input {

        display: block;
    }


    .challenges {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
        overflow-y: auto;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}