.my_challenge_box {
    margin-left: 15px;
    // margin-top: 10px;
    width: 85%;
    min-height: 130px;
    border: 2px solid #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border-radius: 7px;
    position: relative;
    padding:10px 20px;

    &:hover{
        border: 2px solid #535bf2;

        

    }
    &.active{
        border: 2px solid #535bf2;
    }
    .box_heading{
        margin: 0;
        padding: 0;
    }
    .box_heading{
        // padding: 0px 20px;
        padding-top: 5px;
        margin: 0;
        font-size: large;
        font-weight: 500;
        text-align: left;
        display: flex;
        align-items: center;
        gap: 10px;
       
    }
    

    .box_desc {
        font-size: 14px;
        margin: 0;
        margin-top: 5px;
        padding: 0;
        opacity: 0.8;
        // padding: 0px 20px;
        text-align: left;
    }
    .startdate_tenure{
        // margin-top: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p{
            margin: 3px 0px;
            opacity: 0.7;
            font-size: small
        }

        

    }
    .status{
        margin: 0;
        padding: 0;
        text-align: right;
        // background-color: cyan;
        width: 100%;
        // color: #21BA45;
        
    }
    .Ongoing{
        color: #21BA45;
    }
    .Completed{
        color: #535bf2;
    }
    .Failed{
        color: red;
    }
}