.my_challenges {
    width: 100%;
    // background-color: aqua;
    height: 100%;

    .heading {
        font-size: 20px;
        font-weight: 600;
        // padding: 10%;

        padding-bottom: 8px;
        padding-left: 10px;
        padding-top: 1px;
        border-bottom: 1px solid rgba(194, 224, 255, 0.08);
        width: 100%;
        text-align: left;
    }
}